.head{
    width: 100%;
    height: 150px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}
.headText{
    width: 25%;
    height: 40%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @media screen and (max-width: 1024px) {
        width: 30%;
        justify-content: center;
        gap: 30px;
    }
    @media screen and (max-width: 1024px) {
        width: 90%;
    }
    @media screen and (max-width: 767px) {
        width: 50%;
    }
    @media screen and (max-width: 617px) {
        width: 90%;
    }
    @media screen and (max-width: 354px) {
        gap: 15px;
    }
}
.headText > p{
    color: white;
}
.headText > span{
    color: rebeccapurple;
}